/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,900');*/

body {
  font-family: "Avant Garde Regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  //line-height: ;
  //color: ;
  box-sizing: border-box;
}
