$white: #fff;
$dark: #15263E; //header-bg colour

$navbar-dark-active-color: #A21AF0; //active nav link colour
$navbar-dark-hover-color: #A21AF0;  // nav links hover colour
$navbar-dark-color: $white; //navbar text colour
$jumbotron-bg: transparent;
$input-border-radius: 0;

$input-height: 56px;

$input-border-color: transparent;
