@font-face {
  font-family: 'Avant Garde Regular';
  src: url('../../../fonts/AvantGardeRegular/AvantGardeRegular.eot');
  src: url('../../../fonts/AvantGardeRegular/AvantGardeRegular.eot') format('eot'),
  url('../../../fonts/AvantGardeRegular/AvantGardeRegular.woff') format('woff'),
  url('../../../fonts/AvantGardeRegular/AvantGardeRegular.woff2') format('woff2'),
  url('../../../fonts/AvantGardeRegular/AvantGardeRegular.otf') format('otf'),
  url('../../../fonts/AvantGardeRegular/AvantGardeRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*@font-face {
  font-family: 'Raleway Regular';
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot') format('eot'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.otf') format('otf'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/