@mixin title ($color: #15263E, $size: 50px, $weight: 600, $text-transform: uppercase) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $text-transform;
  text-align: center;
}

@mixin subtitle ($size: 18px, $color: $black) {
  font-size: $size;
  color: $color;
  text-align: center;
}

@mixin gradient-button() {
  width: 214px;
  height: 70px;
  background: rgb(162, 26, 240);
  background: linear-gradient(45deg, rgba(162, 26, 240, 1) 0%, rgba(209, 17, 199, 1) 50%, rgba(255, 0, 114, 1) 100%);
  border: none;
  text-transform: uppercase;
  color: $white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 320px) {
    width: 150px;
    height: 40px;
    padding-top: 12px;
    font-size: 10px;
  }

  &:hover {
    border: 1px solid $white;
    color: $white;
  }
}

/*
@mixin size($width, $height) {
  width: $width;
  height: $height;
}*/

/*@mixin link($color1) {
  color: $color1;

  &:hover {
    color: darken($color1, 10%);
  }
}

@mixin link2($color1) {
  color: $color1;

  &:hover {
    text-decoration: underline;
  }
}

@mixin pagination($color1, $color2) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color1;

  &:hover {
    background-color: $color2;
  }
}

@mixin icons($color1, $color2) {
  background-color: $color1;
  color: $color2;

  &:hover {
    background-color: $color2;
    color: $color1;
    transform: scale(1.1);
  }
}

@mixin placeholder($color, $opacity: 1, $font-size: 18px, $font-family: 'Raleway SemiBold'sans-serif) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: none;
    font-style: italic;
  }

  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: none;
    font-style: italic;
  }

  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: none;
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: none;
    font-style: italic;
  }
}*/