.about {
  width: 100%;
  max-width: 1317px;
  min-height: 597px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__img {
    //width: 40%;
    width: 507px;
    min-height: 597px;
    height: auto;
    /*position: relative;
    margin: 0 auto;
    @media (max-width: 1024px) {
      top: 0;
      right: 0;
      width: 30%;
      min-height: 400px;
      height: 400px;
    }
    img {
        min-width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate3d(-50%, -50%, 0);
        //object-fit: contain;
    }*/
  }
  &__progress {
    width: 332px;
    //position: absolute;
    //top: 0;
    //right: 15px;
    //z-index: 3;
    display: flex;
    flex-direction: column;
    padding-top: 155px;
    @media (max-width: 1024px) {
      //top: 0;
      //left: 50%;
    }
    &-title {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__text {
    max-width: 350px;
    //position: absolute;
    //top: 0;
    //left: 15px;
    //z-index: 3;
    padding-top: 130px;
    text-align: right;
    @media (max-width: 1024px) {
      //top: 0;
      //left: 0;
    }
  }
  &__title {
    @include title();
    margin-bottom: 15px;
    text-align: right;
  }
  &__position {
    font-size: 20px;
    color: #A21AF0;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__description {
    font-size: 15px;
    line-height: 2;
  }
}


.nanoprogress {
  margin-bottom: 44px;
}
.my-class {
  height: 10px;
  background: #DCDCDE;
  border-radius: 5px;
}
.nanoprogress .bar {
  width: 332px;
  height: 10px;
  border-radius: 10px;
  //margin-bottom: 20px;
  //background: linear-gradient(45deg, #7E1C9F, #B90B4E);
  background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
}