.about {
  width: 100%;
  max-width: 1317px;
  min-height: 597px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
      justify-content: center;
    }
    @media (max-width: 1024px) {
      justify-content: center;
    }
  }
  &__img {
    max-width: 597px;
    min-height: 597px;
    //height: auto;
    order: 2;
    @media (max-width: 768px) {
      order: 1;
    }
    @media (max-width: 576px) {
      max-width: 100%;
      min-height: auto;
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 576px) {
        object-fit: contain;
      }
    }
  }
  &__progress {
    //width: 30%;
    width: 332px;
    display: flex;
    flex-direction: column;
    padding-top: 155px;
    order: 3;
    @media (max-width: 1024px) {
      padding-top: 70px;
    }
    &-title {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__text {
    max-width: 350px;
    padding-top: 130px;
    text-align: right;
    order: 1;
    @media (max-width: 768px) {
      max-width: 100%;
      width: 80%;
      order: 2;
      padding-top: 70px;
    }
    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
  &__title {
    @include title();
    margin-bottom: 15px;
    text-align: right;
  }
  &__position {
    font-size: 20px;
    color: #A21AF0;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__description {
    font-size: 15px;
    line-height: 2;
  }
}


.nanoprogress {
  margin-bottom: 44px;
}
.my-class {
  height: 10px;
  background: #DCDCDE;
  border-radius: 5px;
}
.nanoprogress .bar {
  width: 332px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #a21af0 33%, #d310c4 66%, #ff0072);
}