.contacts {
  width: 100%;
  min-height: 307px;
  padding: 101px 0;
  background-color: #DCDCDE;
  &__img {
    margin-top: 10px;
    width: 88px;
    border-radius: 50%;
    overflow: hidden;
    @media (max-width: 320px) {
      width: 60px;
      margin-top: 30px;
    }
  }
  &__card {
    background-color: #DCDCDE;
    border: none;
  }
  @media (max-width: 320px) {
    font-size: 14px;
  }
}