.contacts {
  width: 100%;
  min-height: 307px;
  padding: 101px 0;
  background-color: #DCDCDE;
  &__img {
    padding-top: 10px;
    width: 88px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__card {
    background-color: #DCDCDE;
    border: none;
    //align-items: center;
  }
}