.header {
  width: 100%;
  min-height: 109px;
  font-size: 18px;
  background-color: $dark;
  @media (max-width: 768px) {
    min-height: 56px;
  }
  &__inner {
    height: 100%;
    min-height: 109px;
    @media (max-width: 768px) {
      min-height: 56px;
    }
    nav {
      height: 100%;
      min-height: 109px;
      @media (max-width: 768px) {
        min-height: 56px;
      }
    }
  }
}

.nav__menu-item {
  position: relative;
}

.nav__menu-item::after {
  position: absolute;
  content: "-";
  color: $white;
  top: 20%;
  right: -50px;
}

/*@media all and (max-width: 768px) {
  .navbar.sticky-top.navbar-expand-md.navbar-dark.bg-dark {
    min-height: 100%;
  }
}*/