.portfolio {
  width: 100%;
  height: auto;
  padding: 90px 0;
  &__title {
    @include title();
    margin-bottom: 40px;
  }
  &__subtitle {
    @include subtitle();
    margin-bottom: 70px;
  }
  &__inner {
    width: 100%;
    max-width: 1283px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__panel {

  }
  &__filter-controls {
    display: flex;
    flex-direction: column;
  }
  &__filter-item {
    list-style: none;
    font-size: 22px;
  }
  &__content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}